html {
  font-size: clamp(14px, 1.2vw, 16px);
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
